body{
    background-color: rgb(167, 77, 32);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.container{
    margin: auto;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px brown;
}