body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,.5), rgba(0,0,0,.5)), url(assets/teahub.io-hacker-wallpaper-hd-701304.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
 
table {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}